body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

/* modal backdrop animations */
.modal-backdrop.am-fade {
  height: 100%;
  opacity: .8;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter-active {
  opacity: .8;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .8;
}
.modal-backdrop.am-fade.ng-leave-active {
  opacity: 0;
}

.form-signin {
  max-width: 360px;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.form-signin .thumbnail {
  margin-bottom: 10px;
}

.modal-body .btn-group {
  margin-bottom: 10px;
}

.slide-frame {
  position:relative;
  height:200px;
  overflow:hidden;
}

.slide-frame > div {
  width:100%;
}

input[type=text], select {
  width: 50% !important;
}

/* modal and step animations */
.slide.ng-animate, .wave.ng-animate {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.slide.ng-enter {
  position: absolute;
  opacity: 0;
  top:-200px;
}

.slide.ng-enter-active {
  opacity: 1;
  top:0;
}

.slide.ng-leave {
  opacity: 1;
  top:0;
}

.slide.ng-leave-active {
  opacity: 0;
  top:-200px;
}

.wave.ng-enter {
  position: absolute;
  left:-100%;
}

.wave.ng-enter-active {
  left:0;
}

.wave.ng-leave {
  position: absolute;
  left:0;
}

.wave.ng-leave-active {
  left:100%;
}